app = "nimble-nexus"
primary_region = "iad"

[env]
NODE_ENV = "production"
AUTH_TRUST_HOST = "true"
AUTH_URL = "https://nimble.nexus/api/auth"
DATABASE_URL = "file:/data/db.sqlite"
NEXT_PUBLIC_APP_URL = "https://nimble.nexus"
NEXT_PUBLIC_BUCKET_NAME = "nimble-nexus"

[http_service]
auto_start_machines = true
auto_stop_machines = "suspend"
force_https = true
internal_port = 3000
min_machines_running = 0
processes = [ "app" ]

[mounts]
source = "data"
destination="/data"
auto_extend_size_threshold = 80
auto_extend_size_increment = "1GB"
auto_extend_size_limit = "10GB"

[[vm]]
memory_mb = 1024
cpu_kind = "shared"
cpus = 2
