@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@tailwind utilities;

@theme {
    --color-success: var(--color-emerald-600);
    --color-success-foreground: var(--color-neutral-900);

    --color-warning: var(--color-yellow-600);
    --color-warning-foreground: var(--color-neutral-900);

    --color-error: var(--color-orange-600);
    --color-error-foreground: var(--color-neutral-900);

    --color-icon: var(--color-neutral-400);
    --color-hp: oklab(from var(--color-orange-700) calc(l + 0.05) b a);

    --color-header: var(--color-neutral-200);
    --color-header-foreground: var(--color-neutral-900);
    --color-flame: var(--color-warning);
    --color-flame-fill: var(--color-yellow-400);

    --font-sans: "Roboto", sans-serif;
    --font-condensed: "Roboto Condensed", sans-serif;
    --font-slab: "Roboto Slab", sans-serif;
}

:root {
    --radius: 0.25rem;

    --background: var(--color-neutral-50);
    --foreground: var(--color-neutral-700);
    --border: var(--color-neutral-100);

    --card: var(--color-white);
    --card-foreground: var(--color-neutral-900);
    --popover: var(--color-white);
    --popover-foreground: var(--color-foreground);

    --primary: var(--color-neutral-950);
    --primary-foreground: var(--color-neutral-300);
    --accent: var(--color-violet-200);
    --accent-foreground: var(--color-black);
    --muted: var(--color-neutral-100);
    --muted-foreground: var(--color-neutral-500);

    --input: var(--color-neutral-200);
    --ring: var(--color-neutral-300);

    /*
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-200);
    --tw-prose-body: var(--foreground);
    --border: var(--color-neutral-800);

    --color-header: var(--color-neutral-900);
    --color-header-foreground: var(--color-neutral-300);
    --color-icon: var(--color-neutral-600);

    --card: var(--color-neutral-900);
    --card-foreground: var(--color-neutral-300);
    --popover: var(--color-neutral-950);
    --popover-foreground: var(--color-neutral-300);

    --primary: var(--color-neutral-700);
    --primary-foreground: var(--color-neutral-300);
    --accent: var(--color-indigo-500);
    --accent-foreground: var(--color-neutral-50);
    --muted: var(--color-neutral-800);
    --muted-foreground: var(--color-neutral-400);

    --input: var(--color-neutral-700);
    --ring: var(--color-neutral-700);

    /*
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        -webkit-font-smoothing: antialiased;
    }
}

@layer utilities {
    .small-caps {
        font-variant-caps: small-caps;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

summary::-webkit-details-marker {
    display: none;
}

.animate-fade-out {
    animation: fade-out 2s ease-out forwards;
}
