/** biome-ignore-all lint/suspicious/noUnknownAtRules: waiting on new biome release to support tailwind custom @syntax */
@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@tailwind utilities;

@theme {
    --color-success: var(--color-emerald-600);
    --color-success-foreground: var(--color-neutral-900);

    --color-warning: var(--color-yellow-600);
    --color-warning-foreground: var(--color-neutral-900);

    --color-error: var(--color-hp);
    --color-error-foreground: var(--color-neutral-900);

    --color-icon: var(--color-neutral-400);
    --color-icon-border: var(--color-neutral-200);
    --color-stat-icon: var(--color-neutral-400);
    --color-hp: oklab(from var(--color-orange-700) calc(l + 0.05) b a);

    --color-header: var(--color-neutral-200);
    --color-header-foreground: var(--color-neutral-900);
    --color-flame: var(--color-warning);
}

:root {
    --radius: 0.25rem;

    --background: #faf5ea;
    --foreground: #3a3226;
    --border: #e2d7c1;

    --card: #fffdf8;
    --card-foreground: #241f18;
    --popover: #fffdf8;
    --popover-foreground: var(--color-foreground);

    --primary: #b1490f;
    --primary-foreground: #fffdf8;
    --accent: #f4ecda;
    --accent-foreground: #241f18;
    --muted: #f4ede0;
    --muted-foreground: #8a7a60;
    --destructive: var(--color-warning);
    --destructive-foreground: var(--foreground);
    --secondary: var(--muted);

    --input: #e2d7c1;
    --ring: #b1490f;

    --color-header: #e9dfc7;
    --color-header-foreground: #241f18;
    --color-icon: #8a7a60;
    --color-icon-border: #e2d7c1;
    --color-stat-icon: #a89a83;
    --color-hp: #cc4e12;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
    --background: #171310;
    --foreground: #cbbda0;
    --tw-prose-body: var(--foreground);
    --border: #33291d;

    --color-header: #241d15;
    --color-header-foreground: #f0e9db;
    --color-icon: #8a7c63;
    --color-icon-border: #33291d;
    --color-stat-icon: #6f6552;
    --color-hp: #e0641f;

    --card: #2a2118;
    --card-foreground: #f0e9db;
    --popover: #2a2118;
    --popover-foreground: #f0e9db;

    --primary: #cc5a1a;
    --primary-foreground: #f0e9db;
    --accent: #2e2619;
    --accent-foreground: #f0e9db;
    --muted: #211a13;
    --muted-foreground: #8a7c63;

    --input: #33291d;
    --ring: #cc5a1a;
}

@theme inline {
    --font-sans: var(--font-roboto-sans);
    --font-slab: var(--font-roboto-slab);
    --font-serif: var(--font-roboto-serif);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        -webkit-font-smoothing: antialiased;
        font-synthesis: small-caps;
    }
}

@layer utilities {
    .small-caps {
        font-variant-caps: small-caps;
    }

    .italic {
        font-style: italic;
        font-variation-settings: "slnt" -10;
    }
    .not-italic {
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }
    .font-condensed {
        font-stretch: ultra-condensed;
    }

    .grade-100 {
        font-variation-settings: "GRAD" 100;
    }
}

.formatted-text p {
    display: inline;
    margin: 0;
}

.formatted-text p + p::before {
    content: " ";
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

summary::-webkit-details-marker {
    display: none;
}

.animate-fade-out {
    animation: fade-out 2s ease-out forwards;
}
